


<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>
    
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/style.css" type="text/css">

    <script src="https://www.youtube.com/iframe_api"></script>
    <script>
        let player;

        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                videoId: 'EFXMxUc-OXQ',
                playerVars: {
                    controls: 0,
                    disablekb: 1,
                    autoplay: 1,
                    modestbranding: 1,
                    rel: 0,
                    fs: 0,
                    showinfo: 0
                },
                events: {
                    onReady: onPlayerReady
                }
            });
        }

        function onPlayerReady(event) {
            event.target.mute(); // Tắt âm thanh video (tùy chọn)
            event.target.playVideo();
        }

        


        
    </script>
    <style>
        .row col-6 #player {
            pointer-events: none;
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 56.25%; /* Tạo tỷ lệ khung hình 16:9 */
            position: relative;
        }

        .message {
            margin-bottom: 10px;
            padding: 5px 10px;
            border-radius: 5px;
        }

        #userInput,
        #messageInput,
        #sendButton {
            width: 450px;
            margin-top: 10px;
        }
    </style>

</head>

<body>


    <!-- Humberger Begin 00-->

    <!-- Humberger End -->
    <!-- Header Section Begin 0-->
    @await Html.PartialAsync("_HeaderPartialView.cshtml")
    <!-- Header Section End -->
    @RenderBody()
    <!-- Footer Section Begin 00-->
    @await Html.PartialAsync("_FooterPartialView.cshtml")
    <!-- Footer Section End -->
    <!-- ~/assets/js/ Plugins -->
    <script src="~/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <script src="~/assets/js/jquery.slicknav.js"></script>
    <script src="~/assets/js/mixitup.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/main.js"></script>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>

    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)


</body>

</html>