@model CuaHangThoiTrangV2.Models.Sanpham

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Tạo sản phẩm mới</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaL" class="control-label">Mã Loại</label>
                <select asp-for="MaL" class ="form-control" asp-items="ViewBag.MaL"></select>
                <input asp-for="MaLNavigation" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="MaTh" class="control-label">Mã thương hiệu</label>
                <select asp-for="MaTh" class ="form-control" asp-items="ViewBag.MaTh"></select>
            </div>
            <div class="form-group">
                <label asp-for="TenSp" class="control-label">Tên sản phẩm</label>
                <input asp-for="TenSp" class="form-control" />
                <span asp-validation-for="TenSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label">Giá</label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hinh" class="control-label">Hình 1</label>
                <input asp-for="Hinh" class="form-control" />
                <span asp-validation-for="Hinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hinh1" class="control-label">Hình 2</label>
                <input asp-for="Hinh1" class="form-control" />
                <span asp-validation-for="Hinh1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hinh2" class="control-label">Hình 3</label>
                <input asp-for="Hinh2" class="form-control" />
                <span asp-validation-for="Hinh2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soluong" class="control-label">Số lượng</label>
                <input asp-for="Soluong" class="form-control" />
                <span asp-validation-for="Soluong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-gradient-primary btn-rounded btn-fw" />
            </div>
        </form>
    </div>
</div>

<div>
    <button type="button" class="btn btn-gradient-danger btn-rounded btn-fw"><a style="text-decoration:none; color:white" asp-action="Index">Back to List</a></button>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            // Lắng nghe sự kiện khi giá trị của dropdown thay đổi
            $("#MaL").change(function () {
                // Lấy giá trị đã chọn
                var selectedValue = $(this).val();

                // Cập nhật giá trị của MaLNavigation
                $("#MaLNavigation").val(selectedValue);
            });
        });
    </script>
}