@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    double doanhthu = ViewBag.tongdoanhthu;
    string name = ViewBag.tenND;
}
<div class="row">
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-danger card-img-holder text-white">
            <div class="card-body">
                <img src="~/adminassets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Tổng doanh thu <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">@doanhthu.ToString("#,##0") vnđ</h2>
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
            <div class="card-body">
                <img src="~/adminassets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Doanh thu tháng <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>
                <div class="input-group">
                    <input id="month" name="month" type="number" class="form-control" placeholder="Chọn tháng" aria-label="Tháng" min="1" max="12" required aria-describedby="basic-addon2">
                </div>
                <h2 class="mb-5" id="records_table"></h2>
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
            <div class="card-body">
                <img src="~/adminassets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Doanh thu theo phương thức thanh toán <i class="mdi mdi-diamond mdi-24px float-right"></i>
                </h4>
                <div class="input-group">
                    <input id="phuongthuc" name="phuongthuc" type="text" class="form-control" placeholder="Chọn phương thức thanh toán" aria-label="Phương thức thanh toán" required aria-describedby="basic-addon2">
                </div>
                <h2 class="mb-5" id="records_table1"></h2>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#month').keyup(function () {
                var strkeyword = $('#month').val();
                $.ajax({
                    url: '/Admin/Search/Doanhthuthang/',
                    datatype: "json",
                    type: "POST",
                    data: { keyword: strkeyword },
                    async: true,
                    success: function (results) {
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
            $('#phuongthuc').keyup(function () {
                var strkeyword = $('#phuongthuc').val();
                $.ajax({
                    url: '/Admin/Search/DoanhthuPT/',
                    datatype: "json",
                    type: "POST",
                    data: { keyword: strkeyword },
                    async: true,
                    success: function (results) {
                        $("#records_table1").html("");
                        $("#records_table1").html(results);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });
        
    </script>
}