<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#quan-ly-danh-muc" aria-expanded="false" aria-controls="quan-ly-tin-tuc">
                <span class="menu-title">Quản lý danh mục</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-table-large menu-icon"></i>
            </a>
            <div class="collapse" id="quan-ly-danh-muc">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="AdminLoais" asp-action="Index">Quản lý loại sản phẩm</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="AdminThuonghieus" asp-action="Index">Quản lý thương hiệu sản phẩm</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Admin" asp-controller="AdminSanphams" asp-action="Index">
                <span class="menu-title">Quản lý sản phẩm</span>
                <i class="mdi mdi-table-large menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Admin" asp-controller="AdminDonhangs" asp-action="Index">
                <span class="menu-title">Quản lý đơn hàng</span>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Admin" asp-controller="AdminMaus" asp-action="Index">
                <span class="menu-title">Quản lý màu sản phẩm</span>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#quan-ly-he-thong" aria-expanded="false" aria-controls="quan-ly-he-thong">
                <span class="menu-title">Quản lý hệ thống</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-table-large menu-icon"></i>
            </a>
            <div class="collapse" id="quan-ly-he-thong">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="AdminNguoidungs" asp-action="Index">Quản lý tài khoản</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="AdminRoles" asp-action="Index">Quản lý quyền truy cập</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="AdminPhuongthucthanhtoans" asp-action="Index">Quản lý phương thức thanh toán</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="AdminDanhgias" asp-action="Index">Quản lý đánh giá</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>